<div class="wrapper">
  <div id="forms">
    <h1 class="title">Forms</h1>
    <ul>
      <h4>After School Flyer</h4>
      <li>
        <%= link_to "After School Flyer", asset_path("KK-flyer-2015.pdf") %>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </li>
      <li>
        <%= link_to "After School Registration Packet", asset_path("spring-reg-packet.pdf") %>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </li>
      <li>
        <%= link_to "Waiver", asset_path("waiver.pdf") %>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </li>
      <h4>Spring Break Forms</h4>
      <h4>Summer Break Forms</h4>
      <li>
        <%= link_to "Summer 2015 Flyer", asset_path("Summer-2015-Flyer.pdf") %>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </li>
      <h4>Winter Break Forms</h4>
      <h4>Other Break Forms</h4>
    </ul>
    <%= image_tag "forms.jpg", height: "75%", width: "60%", class: "forms-pic" %>
  </div>
</div>
