<!DOCTYPE html>
<html>
  <head>
    <title>Sdkidzkamp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="social-media">
      <div id="top-diag"></div>
      <%= link_to "https://www.facebook.com/kidzkamp" do %>
        <%= image_tag("facebook.png") %>
      <% end %>
      <%= link_to "http://twitter.com/kidzkamp" do %>
        <%= image_tag("twitter.png") %>
      <% end %>
      <%= link_to "http://youtube.com/kidzkamp" do %>
        <%= image_tag("youtube.png") %>
      <% end %>
      <div id="bot-diag"></div>
    </div>
    <div class="container">
      <div class="wrapper">
        <nav>
          <%= link_to root_path do %>
            <strong>Home</strong>
          <% end %>
          <%= link_to "aboutus" do %>
            <strong>About Us</strong>
          <% end %>
          <%= image_tag("logo.png", id: "logo") %>
          <a><strong>Forms</strong></a>
          <a><strong>Contact Us</strong></a>
        </nav>
      </div>

      <%= yield %>
      <footer>
        Copyright  <i class="fa fa-copyright" aria-hidden="true"></i>  2017, Doyle Park Kidz Kamp
      </footer>
    </div>
  </body>
</html>
