<!DOCTYPE html>
<html>
  <head>
    <title>Sdkidzkamp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="wrapper">
        <nav>
          <a>Home</a>
          <a>About Us</a>
          <%= image_tag("logo.png", id: "logo") %>
          <a>Forms</a>
          <a>Contact Us</a>
        </nav>
      </div>

      <%= yield %>
      <footer>
        Copyright  <i class="fa fa-copyright" aria-hidden="true"></i>  2017, Doyle Park Kidz Kamp
      </footer>
    </div>
  </body>
</html>
